# PostgreSQL Database Credentials
POSTGRES_USER=postgres
POSTGRES_PASSWORD="Cantsay"
POSTGRES_DB=cric_ai
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis Cache (For Rate Limiting)
USE_REDIS=1
REDIS_HOST=redis
REDIS_PORT=6379

# Fallback
# FORCE_POSTGRES=1 # Set this to force failure if postgres is unreachable instead of falling back to sqlite
